name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - uses: leafo/gh-actions-lua@v9
      with:
        luaVersion: "5.3.5"

    - uses: leafo/gh-actions-luarocks@v4

    - name: setup 
      run: |
        luarocks install busted

    - name: test
      run: |
        busted -o utfTerminal lua/tests
